In [1]:
import pandas as pd

## load from xlsx

In [12]:
df_xlsx = pd.read_excel(io="../datasets/02.code.xlsx")
df_xlsx

      Unnamed: 0       cd      nm   gb
0              0  A060310      3S  701
1              1  A095570  AJ네트웍스  701
2              2  A006840   AK홀딩스  701
3              3  A054620  APS홀딩스  701
4              4  A265520   AP시스템  701
...          ...      ...     ...  ...
2561        2561  A189980  흥국에프엔비  701
2562        2562  A000540    흥국화재  701
2563        2563  A003280    흥아해운  701
2564        2564  A037440      희림  701
2565        2565  A238490      힘스  701

[2566 rows x 4 columns]

In [13]:
df_xlsx.info()
df_xlsx.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2566 entries, 0 to 2565
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2566 non-null   int64
 1   cd          2566 non-null   object
 2   nm          2566 non-null   object
 3   gb          2566 non-null   int64
dtypes: int64(2), object(2)
memory usage: 80.3+ KB

        Unnamed: 0      gb
count  2566.000000  2566.0
mean   1282.500000   701.0
std     740.884719     0.0
min       0.000000   701.0
25%     641.250000   701.0
50%    1282.500000   701.0
75%    1923.750000   701.0
max    2565.000000   701.0

In [19]:
df_xlsx = pd.read_excel(io="../datasets/02.code.xlsx", usecols=[1,2,3], index_col=0)
df_xlsx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2566 entries, A060310 to A238490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nm      2566 non-null   object
 1   gb      2566 non-null   int64
dtypes: int64(1), object(1)
memory usage: 60.1+ KB

## Load from csv

In [29]:
!wget --no-check-certificate 'https://drive.google.com/uc?export=download&id=1U5wBJNgHPLY9iNgCX105hnLHXFmEh2BO'  -O "../datasets/02.magic.csv"

--2024-12-12 08:02:20--  https://drive.google.com/uc?export=download&id=1U5wBJNgHPLY9iNgCX105hnLHXFmEh2BO
Resolving drive.google.com (drive.google.com)... 142.250.207.14, 2404:6800:4004:813::200e
Connecting to drive.google.com (drive.google.com)|142.250.207.14|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1U5wBJNgHPLY9iNgCX105hnLHXFmEh2BO&export=download [following]
--2024-12-12 08:02:21--  https://drive.usercontent.google.com/download?id=1U5wBJNgHPLY9iNgCX105hnLHXFmEh2BO&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 172.217.175.1, 2404:6800:4004:81c::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|172.217.175.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 159 [application/octet-stream]
Saving to: ‘../datasets/02.magic.csv’

../datasets/02.magi 100%[===================>]     159  --.-KB/s    in 0s

2024-12-12 08:02:23 (24.9 MB/s) - ‘../datasets/02.magic.csv’ saved [159/159]

In [30]:
pd.read_csv("../datasets/02.magic.csv")

     code    name    ROIC  EV/EBITDA
0  187660  에디엠코리아  2110.7       0.02
1  227420   도부마스크   394.7       1.23
2  225220    제놀루션   333.9       2.40
3    1880    DL건설   344.8       3.15

### load from html

In [33]:
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.11/site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 5.8 MB/s eta 0:00:00
Installing collected packages: html5lib
Successfully installed html5lib-1.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [38]:
import requests
uri = f"https://finance.naver.com/"

response = requests.get(uri)

In [40]:

df_html = pd.read_html(io=response.text,encoding='utf-8')
df_html

/tmp/ipykernel_53362/2735705022.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_html = pd.read_html(io=response.text,encoding='utf-8')

[                       종목명    현재가      전일대비      등락률
 0         KODEX 200선물인버스2X   2445     하락 70   -2.78%
 1                     써니전자   2930    상승 335  +12.91%
 2   삼성 인버스 2X WTI원유 선물 ETN     96      하락 4   -4.00%
 3         KODEX 코스닥150레버리지   6995    상승 215   +3.17%
 4        KODEX 코스닥150선물인버스   4070     하락 75   -1.81%
 5                    엑스게이트   9250  상승 2,130  +29.92%
 6                      디젠스   1657    상승 382  +29.96%
 7                     화천기계   2615    하락 570  -17.90%
 8                 KB제31호스팩   1912     하락 88   -4.40%
 9                    국영지앤엠   2375    상승 125   +5.56%
 10                    삼성전자  55900  상승 1,900   +3.52%
 11                   SG글로벌   3125    상승 720  +29.94%
 12                    삼부토건   1001     하락 75   -6.97%
 13                    씨씨에스   1774    상승 169  +10.53%
 14              KODEX 레버리지  14800    상승 450   +3.14%,
         종목명     현재가        전일대비      등락률
 0    오리엔트정공    5440   상한가 1,255  +29.99%
 1       링크드     529     상한가 122  +29.98%
 2      동원금속    1730     상한가 399  +29.98%
 3     위세아이텍    7630   상한가 1,760  +29.98%
 4       디젠스    1657     상한가 382  +29.96%
 5     액션스퀘어    1545     상한가 356  +29.94%
 6       펩트론  105900  상한가 24,400  +29.94%
 7     SG글로벌    3125     상한가 720  +29.94%
 8       시큐센    2340     상한가 539  +29.93%
 9     엑스게이트    9250   상한가 2,130  +29.92%
 10     예선테크     491     상한가 113  +29.89%
 11  라이프시맨틱스    5380   상한가 1,235  +29.79%
 12    스타코링크     523     상한가 120  +29.78%
 13     PN풍년   11150    상승 2,080  +22.93%
 14    스타플렉스    3060      상승 505  +19.77%,
         종목명    현재가       전일대비      등락률
 0    에스엘에너지   1600  하락 -4,520  -73.86%
 1   오리엔트바이오   1140    하락 -336  -22.76%
 2     토탈소프트  10060  하락 -2,240  -18.21%
 3      화천기계   2615    하락 -570  -17.90%
 4        CS   2165    하락 -415  -16.09%
 5        KD    607    하락 -111  -15.46%
 6       에이텍  33950  하락 -5,600  -14.16%
 7        카스   2435    하락 -400  -14.11%
 8    깨끗한나라우  12250  하락 -1,970  -13.85%
 9    이수페타시스  21100  하락 -3,300  -13.52%
 10    형지I&C    990    하락 -154  -13.46%
 11   카이노스메드   2280    하락 -320  -12.31%
 12   수산아이앤티  19160  하락 -2,690  -12.31%
 13    형지엘리트   2290    하락 -320  -12.26%
 14     원티드랩   6670    하락 -930  -12.24%,
          종목명      현재가       전일대비     등락률
 0       삼성전자    55900   상승 1,900  +3.52%
 1     SK하이닉스   176100   상승 4,300  +2.50%
 2   LG에너지솔루션   404500  상승 26,500  +7.01%
 3   삼성바이오로직스   958000   상승 9,000  +0.95%
 4        현대차   211500   상승 2,500  +1.20%
 5       셀트리온   184900     상승 700  +0.38%
 6         기아    97200     상승 700  +0.73%
 7      삼성전자우    46600   상승 1,100  +2.42%
 8       KB금융    87000   상승 1,600  +1.87%
 9      NAVER   208000  하락 10,000  -4.59%
 10      고려아연  1361000  하락 41,000  -2.92%
 11      신한지주    50600     상승 200  +0.40%
 12     현대모비스   246500   하락 3,000  -1.20%
 13  POSCO홀딩스   274500   상승 2,000  +0.73%
 14      삼성물산   118700   상승 2,200  +1.89%,
              구분      현재가     전일대비
 0         미국USD  1432.60  상승 2.10
 1  일본JPY (100엔)   938.89  상승 0.46
 2       유럽연합EUR  1506.02  상승 4.28
 3         중국CNY   197.23  상승 0.71,
                구분       현재가     전일대비
 0  달러/일본 엔(12.11)  152.1200  상승 0.38
 1    유로/달러(12.11)    1.0500  하락 0.00
 2   파운드/달러(12.11)    1.2755  상승 0.00
 3    달러인덱스(12.11)  106.6900  상승 0.31,
                구분   현재가     전일대비
 0  CD(91일)(12.12)  3.31  하락 0.02
 1      콜금리(12.11)  2.98  상승 0.04
 2  국고채(3년)(12.12)  2.54  상승 0.01
 3  회사채(3년)(12.12)  3.20  상승 0.02,
              구분      현재가     전일대비
 0   두바이유(12.11)    72.80  상승 0.86
 1    WTI(12.11)    70.29  상승 1.70
 2    휘발유(12.12)  1647.72  상승 0.85
 3  고급휘발유(12.12)  1899.80  상승 0.15,
            구분        현재가       전일대비
 0  국제금(12.11)    2756.70   상승 38.30
 1  국내금(12.12)  125164.81  상승 232.81,
             구분      현재가      전일대비
 0    구리(12.11)  9077.00  상승 10.00
 1     납(12.11)  2037.00        보합
 2  천연가스(12.11)     3.38   상승 0.22
 3   옥수수(12.11)   448.25   하락 0.75,
               구분       현재가       전일대비
 0    다우산업(12.11)  44148.56   하락 99.27
 1     나스닥(12.11)  20034.89  상승 347.65
 2     홍콩H(12.12)   7357.06  상승 107.68
 3    상해종합(12.12)   3461.50   상승 29.01
 4  니케이225(12.12)  39849.14  상승 476.91,
            구분     현재가         전일대비
 0      1.삼성전자   55900    상승  1,900
 1  2.LG에너지솔..  404500   상승  26,500
 2       3.펩트론  105900  상한가  24,400
 3     4.NAVER  208000   하락  10,000
 4        5.금양   24100    상승  3,300]

In [43]:
type(df_html), len(df_html)

(list, 12)

In [44]:
df_html[0]

                       종목명    현재가      전일대비      등락률
0         KODEX 200선물인버스2X   2445     하락 70   -2.78%
1                     써니전자   2930    상승 335  +12.91%
2   삼성 인버스 2X WTI원유 선물 ETN     96      하락 4   -4.00%
3         KODEX 코스닥150레버리지   6995    상승 215   +3.17%
4        KODEX 코스닥150선물인버스   4070     하락 75   -1.81%
5                    엑스게이트   9250  상승 2,130  +29.92%
6                      디젠스   1657    상승 382  +29.96%
7                     화천기계   2615    하락 570  -17.90%
8                 KB제31호스팩   1912     하락 88   -4.40%
9                    국영지앤엠   2375    상승 125   +5.56%
10                    삼성전자  55900  상승 1,900   +3.52%
11                   SG글로벌   3125    상승 720  +29.94%
12                    삼부토건   1001     하락 75   -6.97%
13                    씨씨에스   1774    상승 169  +10.53%
14              KODEX 레버리지  14800    상승 450   +3.14%

In [45]:
df_html[1]

        종목명     현재가        전일대비      등락률
0    오리엔트정공    5440   상한가 1,255  +29.99%
1       링크드     529     상한가 122  +29.98%
2      동원금속    1730     상한가 399  +29.98%
3     위세아이텍    7630   상한가 1,760  +29.98%
4       디젠스    1657     상한가 382  +29.96%
5     액션스퀘어    1545     상한가 356  +29.94%
6       펩트론  105900  상한가 24,400  +29.94%
7     SG글로벌    3125     상한가 720  +29.94%
8       시큐센    2340     상한가 539  +29.93%
9     엑스게이트    9250   상한가 2,130  +29.92%
10     예선테크     491     상한가 113  +29.89%
11  라이프시맨틱스    5380   상한가 1,235  +29.79%
12    스타코링크     523     상한가 120  +29.78%
13     PN풍년   11150    상승 2,080  +22.93%
14    스타플렉스    3060      상승 505  +19.77%

## save to file

In [46]:
df_up_cds = df_html[1]
df_up_cds

        종목명     현재가        전일대비      등락률
0    오리엔트정공    5440   상한가 1,255  +29.99%
1       링크드     529     상한가 122  +29.98%
2      동원금속    1730     상한가 399  +29.98%
3     위세아이텍    7630   상한가 1,760  +29.98%
4       디젠스    1657     상한가 382  +29.96%
5     액션스퀘어    1545     상한가 356  +29.94%
6       펩트론  105900  상한가 24,400  +29.94%
7     SG글로벌    3125     상한가 720  +29.94%
8       시큐센    2340     상한가 539  +29.93%
9     엑스게이트    9250   상한가 2,130  +29.92%
10     예선테크     491     상한가 113  +29.89%
11  라이프시맨틱스    5380   상한가 1,235  +29.79%
12    스타코링크     523     상한가 120  +29.78%
13     PN풍년   11150    상승 2,080  +22.93%
14    스타플렉스    3060      상승 505  +19.77%

In [47]:
df_up_cds.to_csv("../datasets/02.save_html.csv")

#### 선택적 구성

In [5]:
file_path = f"../datasets/주식거래 수수료_20241217.xls"
df_xlsx = pd.read_excel(io=file_path, header=2)
df_xlsx

,회사명,수수료\n부과기준,기준일자,거래금액,구분,오프라인,HTS,ARS,스마트폰,오프라인.1,HTS.1,ARS.1,스마트폰.1,비고
0,유진투자증권,/img/sub/ico_xls.gif,2012/10/08,50만원,변경전,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN
1,유진투자증권,/img/sub/ico_xls.gif,2020/06/17,50만원,변경후,2500.00000,900.0,1000.0,750.0,2500.0,75.0,1000.0,75.0,NaN
2,유진투자증권,/img/sub/ico_xls.gif,2020/06/17,50만원,변경율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,SK증권,/img/sub/ico_xls.gif,2011/11/18,50만원,변경전,2500.00000,1750.0,1250.0,250.0,2500.0,75.0,1250.0,250.0,NaN
4,SK증권,/img/sub/ico_xls.gif,2015/06/01,50만원,변경후,2500.00000,1750.0,1250.0,1750.0,2500.0,75.0,1250.0,1750.0,증권통App 수수료율 변경
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,비엔피파리바증권,/img/sub/ico_pdf.gif,2020/02/03,50만원,변경율,-0.23077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,토스증권,/img/sub/ico_pdf.gif,2021/01/21,50만원,변경후,NaN,NaN,75.0,75.0,NaN,NaN,NaN,NaN,NaN
93,비엔케이투자증권,/img/sub/ico_pdf.gif,2016/12/05,50만원,변경전,NaN,NaN,NaN,750.0,NaN,NaN,NaN,750.0,NaN
94,비엔케이투자증권,/img/sub/ico_pdf.gif,2020/08/24,50만원,변경후,2246.00000,1496.0,NaN,750.0,2246.0,71.0,NaN,750.0,NaN
95,비엔케이투자증권,/img/sub/ico_pdf.gif,2020/08/24,50만원,변경율,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN