## 선별 개별 종목에 대한 알맞은 가중치 구성법

### 개별 종목 머지

In [3]:
import pandas as pd
from pykrx import stock

In [5]:
start_date = f'20200101'
end_date = f'20211231'

symbols = [ '035420', '196170', '042700', '005930'] # 네이버, 알트로젠, 한미반도체, 삼성전자

In [6]:
# dataframe concat
stock_df = pd.DataFrame()
for symbol in symbols:
    stock_df[symbol] = stock.get_market_ohlcv_by_date(start_date, end_date, symbol)['종가'] # 네이버

stock_df

            035420  196170  042700  005930
날짜
2020-01-02  182500   19413    3980   55200
2020-01-03  181500   18746    3985   55500
2020-01-06  180500   17494    3920   55500
2020-01-07  187000   17995    3925   55800
2020-01-08  183000   16883    3925   56800
...            ...     ...     ...     ...
2021-12-24  384000   58389   18050   80500
2021-12-27  380500   59807   18300   80200
2021-12-28  384500   62809   18425   80300
2021-12-29  382000   62976   18500   78800
2021-12-30  378500   63143   18925   78300

[496 rows x 4 columns]

In [7]:
# 데일리 수익률
daily_return = stock_df.pct_change(periods=1) # shift and percent 까지 해서 수익률 나옴.
daily_return

              035420    196170    042700    005930
날짜
2020-01-02       NaN       NaN       NaN       NaN
2020-01-03 -0.005479 -0.034358  0.001256  0.005435
2020-01-06 -0.005510 -0.066788 -0.016311  0.000000
2020-01-07  0.036011  0.028638  0.001276  0.005405
2020-01-08 -0.021390 -0.061795  0.000000  0.017921
...              ...       ...       ...       ...
2021-12-24  0.015873 -0.014082  0.000000  0.007509
2021-12-27 -0.009115  0.024285  0.013850 -0.003727
2021-12-28  0.010512  0.050195  0.006831  0.001247
2021-12-29 -0.006502  0.002659  0.004071 -0.018680
2021-12-30 -0.009162  0.002652  0.022973 -0.006345

[496 rows x 4 columns]

In [8]:
# 리스크 점수 구하기 
annual_return = daily_return.mean() * 252
annual_return

035420    0.437258
196170    0.883705
042700    0.946450
005930    0.217409
dtype: float64

In [9]:
daily_cov = daily_return.cov()
daily_cov

          035420    196170    042700    005930
035420  0.000526  0.000409  0.000260  0.000159
196170  0.000409  0.002319  0.000473  0.000185
042700  0.000260  0.000473  0.001220  0.000283
005930  0.000159  0.000185  0.000283  0.000315

In [10]:
annual_cov = daily_cov * 252
annual_cov

          035420    196170    042700    005930
035420  0.132514  0.102990  0.065583  0.039966
196170  0.102990  0.584310  0.119117  0.046511
042700  0.065583  0.119117  0.307320  0.071432
005930  0.039966  0.046511  0.071432  0.079495